.tasks {
  display: flex;
  width: 100%;
  /* background-color: red; */
  justify-content: center;
  height: 90%;
}

/*  my-5 mx-10 max-w-[700px] px-10 m-auto.tasks ul { */

.tasks ul {
  margin: 4px 2px 2px 8px;
  padding: 20px 10px;
  /* padding-top: 30px; */
  width: 70%;
  max-width: 1000px;
  height: auto;
}

.tasks ul li {
  overflow-x: scroll;
  padding-top: 10px;
  padding-bottom: 10px;
}

.createTask {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 10px 0;
}

.createTask form div input {
  --tw-bg-opacity: 1;
  background-color: rgb(226 232 240 / var(--tw-bg-opacity));
}

.bg-slate-200 {
}
