@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.logo {
  font-family: 'Rubik', sans-serif;
  font-size: x-large;
  letter-spacing: 2px;
  height: 30px;
  font-size: 25px;
  margin: auto 2px;
  /* background-color: red; */
}

/* text-xl font-bold justify-start tracking-wider font- */
