.homepage {
  &-header {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }

  &-logo {
    font-size: large;
    font-weight: bold;
    font-size: 3rem;
    font-weight: bold;
  }

  &-signup {
    background-color: $color-purple-light;
    color: $color-white-light;
    padding: 15px 30px;
    margin-right: 20px;
    border-radius: 4px;
    font-weight: bold;
    border: none;
    font-size: 1.4rem;
  }

  &-login {
    border: 1px solid $color-gold-light;
    border-radius: 4px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 1.4rem;
    color: $color-white-light;
    background-color: transparent;
  }
}

.auth-control {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 0 20px;
}
