.homepage {
  &-header {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
  }

  &-logo {
    font-size: large;
    font-weight: bold;
  }

  &-signup {
    background-color: $color-purple-light;
    // color: ;
    padding: 10px 20px;
  }

  &-login {
    color: blue;
  }
}

.auth-control {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 0 20px;
}

.intro-gold {
  color: $color-gold-dark;
}

.section-1 {
  padding: 50px;
  text-align: center;
  color: white;

  &-h1 {
    font-size: 5rem;
    padding: 90px;
  }

  &-p {
    font-size: 2rem;
  }
}
