.intro-gold {
  color: $color-gold-dark;
}

.section-1 {
  padding: 25px 0;
  text-align: center;
  color: white;
  max-width: 1500px;
  margin: auto 0px;

  &-h1 {
    font-size: 5rem;
    padding: 60px;
  }

  &-p {
    font-size: 2rem;
    max-width: 85%;
    margin: 0px auto;
    font-weight: 500;
  }

  &-img img {
    width: auto;
    margin: 0;
  }
}

.brand {
  font-size: 2rem;
  margin-top: -50px;
  align-items: center;

  &-description {
    color: $color-gold-light;
    font-size: 3.5rem;
    padding: 30px 0;
  }

  &-list {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 60%;
    margin: auto;
    list-style-type: none;

    & li {
      height: 100px;
      margin-inline: 30px;
      display: inline-block;
      padding-bottom: 10px;
      align-items: center;

      & img {
        max-width: 200%;
        min-width: 50%;
        display: inline-block;
      }
    }
  }
}

.benefits {
  background-color: $color-purple-light;
  padding: 50px 0;
  font-size: 2rem;

  &-images {
    max-width: 70%;
    margin: auto;
    display: flex;
    align-items: baseline;

    & h3 {
      height: 60px;
    }

    & span {
      margin: 10px;
    }

    & img {
      display: inline-block;
      max-width: 150px;
    }

    & p {
      padding-top: 10px;
      font-size: 1.3rem;
    }
  }
}

.extra {
  padding: 150px 0;
  height: 110vh;
  max-width: 1200px;
  margin: auto;

  & section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
    padding-bottom: 100px;

    & img {
      display: inline-block;
      max-height: 250px;
    }

    & h3 {
      color: $color-gold-dark;
      text-align: left;
      padding-bottom: 10px;
    }

    & div {
      max-width: 500px;
      margin: auto 100px;
    }

    & p {
      text-align: left;
    }
  }
}

.footer {
  height: fit-content;
  background-color: $color-purple-light;
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;

  &-logo {
    margin-left: 50px;
    margin-right: -50px;

    &-img {
      display: flex;
      align-items: center;
      text-align: left;
      justify-content: center;
    }

    &-text {
      font-size: 1.5rem;
    }
  }

  & nav {
    height: 20vh;
    display: flex;
    padding-top: 30px;
  }

  &-section {
    width: 35%;
    height: 50px;

    & h3 {
      color: $color-gold-light;
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    & li {
      font-size: 1.6rem;
      list-style: none;
      margin-bottom: 0.5rem;
    }
  }
}

.copyright {
  background-color: $color-purple-light;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
