.intro-gold {
  color: $color-gold-dark;
}

.section-1 {
  padding: 25px 0;
  text-align: center;
  color: white;
  max-width: 1500px;
  margin: auto 0px;

  &-h1 {
    font-size: 5rem;
    padding: 60px;
  }

  &-p {
    font-size: 2rem;
    max-width: 85%;
    margin: 0px auto;
    font-weight: 500;
  }

  &-img img {
    width: auto;
    margin: 0;
  }
}

.brand {
  font-size: 2rem;
  margin-top: -50px;
  align-items: center;

  &-description {
    color: $color-gold-light;
    font-size: 3.5rem;
    padding: 30px 0;
  }

  &-list {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 60%;
    margin: auto;
    list-style-type: none;

    & li {
      height: 100px;
      margin-inline: 30px;
      display: inline-block;
      padding-bottom: 10px;
      align-items: center;

      & img {
        max-width: 200%;
        min-width: 50%;
        display: inline-block;
      }
    }
  }
}

.benefits {
  background-color: $color-purple-light;
  padding: 50px 0;
  font-size: 2rem;

  &-images {
    max-width: 70%;
    margin: auto;
    display: flex;
    align-items: baseline;

    & span {
      margin: 10px;
    }

    & img {
      display: inline-block;
      max-width: 150px;
    }

    & p {
      padding-top: 10px;
      font-size: 1.3rem;
    }
  }
}
