* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #777;
}

/*  colors  */
.gold-color {
  color: gold;
}

.header {
  background-color: #f2f2f2;
  padding: 20px 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.header .logo {
  margin: auto 0;
  font-weight: 700;
  font-size: 30px;
}

.header .auth-control {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 0 20px;
}

.signup {
  padding: 10px 20px;
  background-color: purple;
  color: white;
}

.login {
  background-color: transparent;
  padding: 10px 20px;
}

.section-1 {
  padding: 100px 50px;
  text-align: center;
  font-weight: 900;
  font-size: x-large;

  /* Test */
  height: 100vh;
  background-color: rgb(95, 95, 128);
}

.section-1 p {
  color: white;
  padding: 30px 0;
  font-size: medium;
}
